---
layout: base.njk
title: 
lang: zh
permalink: /zh/unit0/
unit: unit0
---

{% set unit = units | findBy("id", "unit0") %}

<h1>{{ unit.icon }} {{ unit.title[lang] }}</h1>
<p>{{ unit.description[lang] }}</p>


<div class="content">
    <p>这是2008年美国金融危机之后，Ray Dalio在Youtube上分享的30分钟视频《How The Economic Machine Works》《经济机器是如何运行的》，目前已经播放了五百多万次。</p>
    
    <p>比尔盖茨对这个视频的推荐语是这样的：</p>
    
    <blockquote>
        "This knowledge would help everyone as investors and citizens. Watching it for 30 minutes is a worthwhile investment."
        <p>这些知识对每个人都有帮助，无论是投资者还是普通人；看三十分钟本身就是一个值得的投资。</p>
    </blockquote>
    
    <h2>YouTube链接</h2>
    <blockquote>
        英文原版 <a href="https://www.youtube.com/watch?v=PHe0bXAIuk0">https://www.youtube.com/watch?v=PHe0bXAIuk0</a><br>
        中文版 <a href="https://www.youtube.com/watch?v=rFV7wdEX-Mo">https://www.youtube.com/watch?v=rFV7wdEX-Mo</a>
    </blockquote>
    
    <h2>经济就像简单机器在运行</h2>
    <p>经济看起来复杂，实际上就像简单机器在运行。经济由几个简单部分和大量简单的交易组成，在人类本性驱动下，产生经济发展的三股动力。</p>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/9b026bd39481ab04c5df318c29ef45b0.png" alt="经济就像简单机器在运行" style="max-width: 100%;">
    </figure>
    
    <h2>经济发展的三股动力</h2>
    <p>生产率的提高、短期债务周期、长期债务周期。</p>
    
    <h2>交易（Transactions）</h2>
    <ol>
        <li>交易由买方（Buyer）和卖方（Seller）组成
            <ul>
                <li>买方支出：货币（Money）、信用（Credit）</li>
                <li>卖方提供：商品（Goods）、服务（Services）、金融资产（Financial Assets）</li>
            </ul>
        </li>
        <li>货币支出 + 信用支出 = 支出总额（Total Spending），支出总额驱动经济发展。</li>
        <li>支出总额 / 产品总量（Total Quantity） = 价格（Price）</li>
    </ol>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/958479b2d139180aa80a0cbaccbd463e.png" alt="交易" style="max-width: 100%;">
    </figure>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/184086f3a190be725c7cdb0102c1994c.png" alt="交易" style="max-width: 100%;">
    </figure>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/aea53e842ad4b1c119d442255199d765.png" alt="交易" style="max-width: 100%;">
    </figure>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/89fa67994b22f4a5bfe55c49f6036af4.png" alt="交易" style="max-width: 100%;">
    </figure>
    
    <h2>市场的参与者</h2>
    <p>个人、企业、银行和政府。</p>
    <p>其中政府是最大买方和卖方。因为政府有：</p>
    <ul>
        <li>控制收入的中央政府（调节税收）</li>
        <li>控制支出的中央银行（调节利率、发行货币）</li>
    </ul>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/17a5a17296483f5588266219f64abfb3.png" alt="市场的参与者" style="max-width: 100%;">
    </figure>
    
    <h2>信贷（Credit）</h2>
    <ol>
        <li>信贷是经济中最重要的部分，因为信贷是经济中最大的（biggest）、也最脆弱的（vulnerable）部分。</li>
        <li>信贷可以增加支出，而支出驱动经济发展。</li>
        <li>信贷并不总是坏的：
            <ul>
                <li>如果信贷仅仅用于消费，而未来没有足够的收入偿还债务，就不利于经济发展。</li>
                <li>如果信贷用于提高生产，增加了收入，未来能够还债，而且改善了生活，就促进了经济发展。</li>
            </ul>
        </li>
    </ol>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/9c5b967705045363672eb44cc890fa2e.png" alt="信贷" style="max-width: 100%;">
    </figure>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/24eaf6865ba4f4d296b54e0eb71a00e6.png" alt="信贷" style="max-width: 100%;">
    </figure>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/47775869ec90d625f688cb803541af12.png" alt="信贷" style="max-width: 100%;">
    </figure>
    
    <h2>经济周期</h2>
    <ul>
        <li>生产率提高相对漫长；而信贷可在短期内增加支出。</li>
        <li>由于人的本性，发生借贷，于是产生经济周期。</li>
    </ul>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/3b545ecf754d64521b91027bf6d7a84d.png" alt="经济周期" style="max-width: 100%;">
    </figure>
    
    <h3>短期信贷周期</h3>
    <p>短期信贷周期通常为5-8年。</p>
    <p>借款方：信贷增长过程</p>
    <ul>
        <li>信贷增加一个人的支出，同时增加了其他人的收入</li>
        <li>收入增加，能还的越多，信用度越高，信贷又增加</li>
    </ul>
    <blockquote>债务如果无法偿还，可以通过出售抵押物来解决</blockquote>
    
    <p>贷款方：央行的调节</p>
    <ul>
        <li>信贷增加，支出增加，而生产率增长有限，导致物价上涨，<strong>通货膨胀</strong>（Inflation）。</li>
        <li>央行提高利率，信贷减少，支出减少，收入下降，物价下跌，<strong>通货紧缩</strong>（Deflation），直到<strong>经济衰退</strong>（Recession）。</li>
        <li>央行降低利率，反向调节，如此往复。</li>
    </ul>
    
    <h3>长期信贷周期</h3>
    <p>长期信贷周期通常需要75-100年。</p>
    <p>1、由于人类本性爱花钱，且往往只关注短期，会借过多钱消费，收入不断增加，资产不断增加，信贷不断增加。</p>
    <blockquote>Why? Because everyone thinks things are going great. People are just focus on what's been happening lately.</blockquote>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/d1b2cba2e18816043157ff6b1348d763.png" alt="长期信贷周期" style="max-width: 100%;">
    </figure>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/0a8e350eb61a938a10677f2723ec67e4.png" alt="长期信贷周期" style="max-width: 100%;">
    </figure>
    
    <p>2、市场信贷过多，负债增长逐渐超过了收入增长，泡沫过大，直到借款人没法还债。</p>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/ba293ff83391986e79f5ddd9927eff20.png" alt="市场信贷过多" style="max-width: 100%;">
    </figure>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/620dbc76896addc4ee27d3370ba71b70.png" alt="市场信贷过多" style="max-width: 100%;">
    </figure>
    
    <p>3、没法还债，只能出售资产，又会导致股市、房价等资产暴跌。</p>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/5afd4933d4597e6bf2bee1383edaa55a.png" alt="资产暴跌" style="max-width: 100%;">
    </figure>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/2e13248a2c3d1131b661964e13cda2ce.png" alt="资产暴跌" style="max-width: 100%;">
    </figure>
    
    <p>4、更少的消费，更少的收入，更少的财富，更少的信用，更少的贷款……恶性循环……</p>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/2d6954560a6bf78bfb4ffb534a45f989.png" alt="恶性循环" style="max-width: 100%;">
    </figure>
    
    <p>5、和经济衰退（Recession）不同，去杠杆化（Deleveraging）过程中，由于债务负担过大，当央行把利率降低到0，仍然不能解决问题。</p>
    <blockquote>
        This appears similar to a recession. But the difference here is that interest rates can't be lower to save the day.
        <p>备注：去杠杆化也可以翻译成减债，即减少市场贷款的过程。</p>
    </blockquote>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/4b23118d24e7ff3d8adad65273d970a9.png" alt="去杠杆化" style="max-width: 100%;">
    </figure>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/9c141428cdac3a0adacef81d568db82d.png" alt="去杠杆化" style="max-width: 100%;">
    </figure>
    
    <p>6、借款人意识到借出的钱没法被偿还，不再贷款，借款人不再借款，经济发展受阻，最终可导致经济危机。</p>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/d0c1d5dcfeaf5ad317e7ac850d567dcb.png" alt="经济危机" style="max-width: 100%;">
    </figure>
    
    <h2>去杠杆（Deleveraging）的四个方法</h2>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/2049bf74f9e2b7853f12372f38bda45d.png" alt="去杠杆的四个方法" style="max-width: 100%;">
    </figure>
    
    <h3>1、削减支出</h3>
    <p>为了减少债务，人们减少支出，但是可能导致收入下降更快，债务负担更严重，企业削减成本，失业率提高、工资下降……</p>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/1b37d869800ca58612f0c8a5008eb0c0.png" alt="削减支出" style="max-width: 100%;">
    </figure>
    
    <h3>2、减少债务</h3>
    <p>当借款人不能还债，人们担心在银行的存款不能被返还，纷纷从银行取款，而银行没有足够的钱。</p>
    <p>大量借款人违约（Default），导致经济萧条（Depression），人们意识到资产泡沫。人们不希望资产消失，借贷双方同意债务重组（Debt Restructuring），借款人还更少的钱、更晚还钱，或以更低的利率还钱。</p>
    <p>债务减少后，收入减少更快，又会增加债务负担。</p>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/fc865bb76a9ee8660d60f618c81a67f8.png" alt="减少债务" style="max-width: 100%;">
    </figure>
    
    <h3>3、财富再分配</h3>
    <p>收入减少，导致政府税收减少；另一方面失业率升高，需要更多的政府支出补贴。</p>
    <p>政府发生财政赤字（Deficit），只能增加税收或借钱。由于大部分人收入下降，只能给富人加税，补贴穷人，相当于财富再分配。</p>
    <p>如果经济还是持续萧条，可能激化阶级怨恨，导致社会动荡，甚至变革。</p>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/b79ca7f074fe92a9b07373af7fe12ffb.png" alt="财富再分配" style="max-width: 100%;">
    </figure>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/99d39fa3495a5bc4de654d28e5eb9585.png" alt="财富再分配" style="max-width: 100%;">
    </figure>
    
    <h3>4、发行货币</h3>
    <p>央行发行货币，购买金融资产和政府债券（相当于央行借钱给政府），政府提供更多就业机会，刺激经济复苏。</p>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/c9325f768d10ed9b61d3671f9e8bdb9e.png" alt="发行货币" style="max-width: 100%;">
    </figure>
    
    <h3>总结</h3>
    <p>1、前三种方法会引起通货紧缩，而发行货币会引起通货膨胀。如果能达到完美的平衡（A Beautiful Deleveraging），就不会产生严重通货膨胀。</p>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/114035b8feba0fdbfb7256f5a613db0d.png" alt="总结" style="max-width: 100%;">
    </figure>
    
    <p>2、发行货币，使得货币支出增加，同时减少信用支出，使得支出总额稳定，物价就能稳定。</p>
    <blockquote>
        货币支出 + 信用支出 = 支出总额<br>
        支出总额 / 产品总量 = 价格
    </blockquote>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/9f587fc06044aa45fc2634cd755731d9.png" alt="总结" style="max-width: 100%;">
    </figure>
    
    <p>3、为了扭转局面，央行要发行正确数量的货币：一方面发行货币要足够多，使得收入增加比债务增加快，这样才能还债；另一方面不能发行过多货币，以免导致恶性通货膨胀。</p>
    <figure>
        <img src="https://www.paincker.com/blog-imgs/learn/images/a4f09a6ed0b17508d80dd2b87cf050fc.png" alt="总结" style="max-width: 100%;">
    </figure>
    
    <h2>三条经验法则</h2>
    <p>最后作者给出了三条很有智慧的经验法则：</p>
    <ol>
        <li>不要让债务增速超过收入增速。</li>
        <li>不要让收入增速超过生产率的增长。</li>
        <li>尽一切努力提高生产率。</li>
    </ol>
</div>

